.diagram {
  aspect-ratio: 1;
  height: 10vh;
  display: flex;
  flex-direction: column;
}

.filled {
  height: 100%;
  width: 25%;
  background-color: #FFFF00;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
}

.empty {
  height: 100%;
  width: 25%;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
}

.filledHoriz {
  height: 100%;
  width: 25%;
  background-color: #FFFF00;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
}

.emptyHoriz {
  height: 100%;
  width: 25%;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
}

.filledVert {
  height: 100%;
  width: 12.5%;
  background-color: #FFFF00;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
}

.emptyVert {
  height: 100%;
  width: 12.5%;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
}

.horizRow {
  height: 12.5%;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  display: flex;
}

.row {
  height: 25%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.corner {
  height: 100%;
  width: 12.5%;
  display: inline-block;
  box-sizing: border-box;
}
